* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: slateblue; */
}

nav {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
}